# Node
node_modules/
client/node_modules/

# Environment
.env
client/.env
keys/

# Build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional local files
eng.traineddata
test.js